<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programmingbot</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div id="container">
        <%= yield %>      
    </div>
    <a class="restart" href="/">Restart</a>
</body>
</html>